QPushButton {
	color: #000;
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
	font-size: 13px;
	text-align: center;
}

QPushButton:hover {
	background-color: #BBB;
	border-color: #FFF
}

QPushButton:pressed {
    background-color: #555;
	border-color: #000
}

QPushButton:checked {
    color: #AAA;
    background-color: #777;
	border-color: #DDD;
}
