/*tablewidget 样式*/
QTableView {
	selection-background-color:#44c767;
	background-color:white;/*整个表格的背景色，这里为白色*/
	border:1px solid #E0DDDC;/*边框为1像素，灰色*/
	gridline-color:lightgray;/*这个是表格的格子线的颜色，为亮灰*/
}
/*这里是表格表头样式*/
QHeaderView::section{
	background-color:white;/*背景色 白色*/
	border:0px solid #E0DDDC;/*先把边框宽度设为0，即隐藏所有表头边框*/
	border-bottom:1px solid #E0DDDC;/*然后只显示下边框，因为上边框和左右边框是整个Table的边框，都显示会有2px的边框宽度*/
	height:20px;/*表头高度*/
}